table#table-data tr{
	cursor: pointer;
}
table#table-data tfoot{ 
	display: table-header-group;
	transition: all .52s;
}
table#table-data tfoot.hide{
	display: none;
}

table#table-data tbody tr.selected{
	background-color: #aab7d1;
}

table#table-data th, table#table-data td{
	border-top: 0px;
	border-bottom: 0px;
	border-left: none !important;
	border-right: none !important;
}

table#table-data tfoot input { margin: 0; width: 100%; }
.dataTables_wrapper .dataTables_filter{
	display: none;
}

.btn-group ul.dropdown-menu li{
	cursor: pointer;
	padding: 2.5px 5px;
}